<div class="header">
    <div class="nav">
        <img src="../assets/logo.png" class="logo">
        <div class="links">
            <div class="link" pRipple (click)="homeOpen()" [class.active]="homeShow">
                <a>
                    <img src="../assets/home.svg" alt="">
                </a>
            </div>
            <div class="link" pRipple (click)="messageOpen()" [class.active]="messageShow">
                <a>
                    <img src="../assets/bookmark.svg" alt="">
                </a>
            </div>
            <div class="link" pRipple>
                <a>
                    <img src="../assets/team.svg" alt="">
                </a>
            </div>
            <div class="link" pRipple>
                <a>
                    <img src="../assets/chat.svg" alt="">
                </a>
            </div>
            <div class="link" pRipple>
                <a>
                    <img src="../assets/calendar.svg" alt=" ">
                </a>
            </div>
            <div class="link " pRipple>
                <a>
                    <img src="../assets/settings.svg" alt=" ">
                </a>
            </div>
        </div>
        <div class="profile-img">
            <div class="b-top "></div>
            <img pRipple src="https://images.unsplash.com/photo-1560087637-bf797bc7796a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 " alt=" ">
        </div>
    </div>
    <input type="checkbox" id="close" checked="true">
    <div class="content">
        <div class="box">
            <button pButton label="Dashboard" routerLink="/" class="p-button-raised p-button-text"></button>
            <button pButton label="List" routerLink="list" class="p-button-raised p-button-text"></button>
            <button pButton label="Invoice" routerLink="invoice" class="p-button-raised p-button-text"></button>
            <button pButton label="Add User" routerLink="addUser" class="p-button-raised p-button-text d-none"></button>
        </div>
    </div>

    <div class="head">
        <div class="right">
            <div class="left-icon">
                <label for="close"><i class="pi pi-arrow-left" id="left-arrow"></i></label>
            </div>

            <label class="search" for="search">
      <img src="../assets/search.svg" alt=" ">
      <input type="text " placeholder="Search">
    </label>
        </div>
        <div class="left">
            <i class="pi pi-inbox p-text-secondary" pRipple style="font-size: 1.4rem"></i>
            <i class="pi pi-bell p-text-secondary" pRipple style="font-size: 1.4rem"></i>
            <div class="profile">
                <div class="user-img" pRipple for="logOut">
                    <label for="logOut"><img
            src="https://images.unsplash.com/photo-1560087637-bf797bc7796a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 "
            alt=" "></label>
                </div>
                <input type="checkbox" id="logOut">
                <div class="log">
                    <div class="log-out" pRipple>
                        <i class="fas fa-power-off"></i> <span> Log Out</span>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="main">
        <router-outlet></router-outlet>

    </div>
</div>