<div class="row ">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card-live ">
            <div class="top ">
                <div class="live-visitor ">
                    <div class="num ">o</div>
                    <span>Live Visitors</span>
                </div>
                <div class="live-now ">
                    <p-dropdown [options]="lang" placeholder="Live Now" optionLabel="name" [showClear]="false">
                    </p-dropdown>
                </div>
            </div>
            <div class="bottom ">
                <div class="grid ">
                    <span>10</span>
                    <div class="line "></div>
                </div>
                <div class="grid ">
                    <span>8</span>
                    <div class="line "></div>
                </div>
                <div class="grid ">
                    <span>6</span>
                    <div class="line "></div>
                </div>
                <div class="grid ">
                    <span>4</span>
                    <div class="line "></div>
                </div>
                <div class="grid ">
                    <span>2</span>
                    <div class="line "></div>
                </div>
                <div class="grid ">
                    <span>0</span>
                    <div class="line zero "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row ">
            <div class="col-md-6">
                <div class="visitor ">
                    <div class="user ">
                        <i class="pi pi-users "></i>
                        <span>Visitors</span>
                    </div>
                    <div class="today ">
                        <span>Today</span>
                        <div class="num ">0 <span>0.0%</span></div>
                    </div>
                    <div class="last ">
                        <div class="text "><span>Last 7 days</span> <span class="up "> <i class="pi pi-arrow-up "></i> 6 </span>
                            <div class="down "> <i class="pi pi-arrow-down "></i>0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="chats ">
                    <div class="user ">
                        <i class="bi bi-chat-left-text "></i>
                        <span>Chats</span>
                    </div>
                    <div class="middle ">
                        <div class="today ">
                            <span>Today</span>
                            <div class="num ">0 <span>0.0%</span></div>
                        </div>
                        <div class="answered ">
                            <span>Answered</span>
                            <div class="num ">0 <span>0.0%</span></div>
                        </div>
                    </div>
                    <div class="last ">
                        <div class="text "><span>Last 7 days</span> <span class="up "> <i class="pi pi-arrow-up "></i> 6 </span>
                            <div class="down "> <i class="pi pi-arrow-down "></i>0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="pages-views ">
                    <div class="user ">
                        <i class="bi bi-eye "></i>
                        <span>Page Views</span>
                    </div>
                    <div class="today ">
                        <span>Today</span>
                        <div class="num ">0 <span>0.0%</span></div>
                    </div>
                    <div class="last ">
                        <div class="text "><span>Last 7 days</span> <span class="up "> <i class="pi pi-arrow-up "></i> 6 </span>
                            <div class="down "> <i class="pi pi-arrow-down "></i>0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="reporting ">
                    <div class="user ">
                        <div class="left-user ">
                            <i class="bi bi-bar-chart-fill "></i>
                            <span>Reporting</span>
                        </div>
                        <div class="right-user ">
                            <a href=" ">More</a>
                        </div>
                    </div>
                    <div class="lists ">
                        <div class="list ">
                            <span class="text ">Positive Sentiment </span>
                            <span class="graph ">0%</span>
                        </div>
                        <div class="list ">
                            <span class="text ">Engagement </span>
                            <span class="graph ">0%</span>
                        </div>
                        <div class="list ">
                            <span class="text ">Availability</span>
                            <span class="graph ">16%</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
